*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-size: 16px;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

html {
  font-size: 62.5%; }

a:link, a:visited {
  text-decoration: none;
  color: inherit; }

.title {
  font-weight: 530; }

.card__title-text {
  font-size: 3rem;
  font-weight: 600; }

ul {
  list-style-type: none; }

.margin-top-medium {
  margin-top: 2rem; }

.margin-bottom-medium {
  margin-bottom: 2rem; }

.margin-bottom-large {
  margin-bottom: 15rem; }

.popup {
  background-color: #ADADAD;
  width: 100%;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  padding: 1.5rem;
  color: white; }
  .popup_close {
    cursor: pointer; }

.header {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/camera.jpg");
  height: 50rem;
  width: 100%;
  background-size: cover;
  background-position: 70%;
  padding: 3rem 3.5rem; }
  .header__action {
    left: 0;
    width: 45%;
    height: 100%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.btn {
  padding: 1rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s ease-in;
  font-weight: 400; }
  .btn_blue {
    background-color: #037c8f;
    border: 2px solid #037c8f;
    color: white; }
    .btn_blue:hover {
      background-color: #086775;
      border: 2px solid #086775; }
  .btn_grey {
    background-color: #E8E4E4;
    border: 4px solid #E8E4E4; }
    .btn_grey:hover {
      background-color: #adadad;
      border: 4px solid #adadad; }
  .btn_white {
    background-color: #fff;
    border: 2px solid #0091ff;
    color: #0091ff; }
    .btn_white:hover {
      background-color: rgba(0, 145, 255, 0.1); }

.navbar {
  background-color: #fff;
  height: 6rem;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between; }

.sign-in {
  transform: translateY(-0.5rem);
  display: inline-block;
  padding: 2px; }

.homenavbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 2rem; }

.homenavbar__menu {
  width: 40%; }

.pricing {
  background-color: #fff;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem; }
  .pricing_package {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 48rem;
    width: 40rem;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .pricing_package-1 {
      border-top: 1rem solid #0091ff; }
    .pricing_package-2 {
      border-top: 1rem solid #037c8f; }

.card__title-price {
  font-weight: bold;
  font-size: 1.9rem; }

.card__title-icon {
  font-size: 3rem; }

.card__title--subtitle {
  color: #0091ff; }
  .card__title--subtitle-free {
    font-size: 5.4rem;
    font-weight: 1000; }
  .card__title--subtitle-small {
    font-size: 1.3rem;
    display: block;
    color: #0091ff; }

.card__title-type {
  font-size: 1.7rem;
  font-weight: 500; }

.reviews {
  height: 110vh;
  width: 100%;
  text-align: center;
  background-color: linear-gradient(to bottom, #e6e6e6, #fff); }

.review {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  padding: 2rem 1rem;
  text-align: left;
  border-radius: 9px;
  height: 32rem; }
  .review__title {
    font-weight: 900; }
  .review__profile {
    display: flex; }
    .review__profile--right {
      margin-left: 1rem; }
      .review__profile--right-place {
        font-weight: 300; }
    .review__profile-picture {
      height: 5rem;
      width: 5rem;
      border-radius: 50%; }
  .review__text {
    display: block; }

.footer {
  height: 50vh;
  width: 100%;
  background-color: #f3f3f3;
  padding: 5rem 2rem;
  display: flex; }
  .footer__left {
    width: 40%; }
  .footer__right {
    width: 60%;
    padding: 4rem 0; }

table {
  border: none; }

tr {
  display: flex;
  justify-content: space-between; }

td {
  margin-top: 2rem; }

td:not(:first-child) {
  margin-left: 4rem; }

.homeheader {
  margin: 0 auto;
  max-width: 100%;
  height: 65rem;
  background-color: #242526;
  position: relative; }
  .homeheader__right {
    width: 20rem;
    display: flex;
    right: 0;
    position: absolute;
    bottom: 10rem;
    justify-content: space-evenly; }
  .homeheader__backgroundimg {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/desert.jpg");
    background-size: cover;
    width: 100%;
    height: 35rem;
    position: relative; }
  .homeheader__profile--img {
    width: 17rem;
    height: 17rem;
    border-radius: 200rem;
    background-color: #242526;
    position: absolute;
    margin-top: -6rem;
    left: 4rem;
    padding: .5rem; }
    .homeheader__profile--img-inner {
      width: 100%;
      height: 100%;
      background-image: url("../img/morena.jpg");
      border-radius: 200rem;
      background-size: cover; }
  .homeheader__profile--info {
    padding-left: 22rem;
    width: 100%;
    height: 22rem;
    background-color: #242526; }
    .homeheader__profile--info-name {
      font-size: 3.5rem;
      font-weight: 600;
      color: #eee; }
    .homeheader__profile--info-box {
      display: flex;
      justify-content: space-between;
      color: #eee;
      width: 18rem; }
    .homeheader__profile--info-city {
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: .5rem; }
    .homeheader__profile--info-job {
      font-size: 2rem; }

.menu__item {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  color: #fff;
  font-size: 2rem; }
  .menu__item--1:active {
    color: aqua; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) /2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) /3); }
