.navbar{
    background-color: #fff;
    height: 6rem;
    width:100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
}
.sign-in{
    transform: translateY(-.5rem);
    display: inline-block;
    padding: 2px;
}
.homenavbar{
    display:flex;
    justify-content: space-between;
    color: #fff;
    padding: 2rem;
}
.homenavbar__menu{
    width: 40%;
    
}