.reviews{
    height: 110vh;
    width: 100%;
    text-align: center;
    background-color: linear-gradient(to bottom, rgb(230, 230, 230), #fff);
}
.review{
    box-shadow: 0 1rem 2rem rgba(black, .2);
    background-color: rgb(243, 243, 243);
    padding: 2rem 1rem;
    text-align: left;
    border-radius: 9px;
    height: 32rem;
    &__profile{
        display: flex;
        &-right{
            margin-left: 1rem;
        }
        &-picture{
            height:5rem;
            width:5rem;
            border-radius: 50%;
        }
    }
    
   
    &__text{
        display: block;
    }
}
