body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
html{
    font-size: 62.5%;
}
a{
    &:link,
    &:visited{
        text-decoration: none;
        color:inherit;
    }
}
.title{
    font-weight: 530;
}
.card__title-text{
    font-size: 3rem;
    font-weight: 600;
}
ul{
    list-style-type: none;
    
}
